<div class="cart-container">
  <h1>Seu Carrinho</h1>
  <div *ngIf="filteredCartProducts.length === 0" class="empty-cart">
    <p>Seu carrinho está vazio.</p>
  </div>
  <div *ngIf="filteredCartProducts.length > 0">
    <div *ngFor="let item of filteredCartProducts" class="cart-item">
      <img [src]="item.image" alt="{{ item.name }}" class="cart-item-image">
      <div class="cart-item-details">
        <h2>{{ item.name }}</h2>
        <p>{{ item.detail }}</p>
        <p>{{ item.price | currency }}</p>
        <button (click)="removeFromCart(item)">Remover</button>
      </div>
    </div>
    <div class="cart-summary">
      <h3>Total: {{ getTotal() | currency }}</h3>
    </div>
  </div>
</div>
